
* {
	margin: 0;
	padding: 0;
}
body {
	height: 100vh;
	width: 100vw;
	overflow: hidden;
	i {
		font-style: normal
	}
	input {
		outline: none;
		border: none;
	}
	button {
		outline: none;
		border: none;
	}
}
